.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.footer {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .footer :global(a) {
    width: 100%;
    justify-content: center;
  }
}
